///* ========================================================================
//   #FONT-SIZE
//   ======================================================================== */

// Settings
$vertical-rhythm-factor: 4 !default;


// Mixin
$vertical-rhythm-unit: $global-spacing-unit / $vertical-rhythm-factor;
$default-line-height: $global-line-height / $global-font-size;

@mixin font-size($font-size, $target-line-height: $default-line-height) {
  // font-size: $font-size;
  font-size: ($font-size / $global-font-size) * 1rem;
  line-height:
      round(($target-line-height * $font-size) / $vertical-rhythm-unit)
    * $vertical-rhythm-unit / $font-size;
}