///* ========================================================================
//   #ALIASES
//   ======================================================================== */

// Aliases for Inuit defaults

// Base
$global-font-size: $inuit-global-font-size;
$global-line-height: $inuit-global-line-height;

// Spacing
$global-spacing-unit: $inuit-global-spacing-unit;
$global-spacing-unit-tiny:  $inuit-global-spacing-unit-tiny;
$global-spacing-unit-small: $inuit-global-spacing-unit-small;
$global-spacing-unit-large: $inuit-global-spacing-unit-large;
$global-spacing-unit-huge:  $inuit-global-spacing-unit-huge;

// Breakpoint seperator
$global-breakpoint-separator: $inuit-widths-breakpoint-separator;