///* ========================================================================
//   #Headings
//   ======================================================================== */

// Heading sizes overrides
$inuit-font-size-h1:            40px;
$inuit-font-size-h1-tablet:     48px;
$inuit-font-size-h1-desktop:    60px;
$inuit-font-size-h2:            36px;
$inuit-font-size-h3:            28px;
$inuit-font-size-h4:            24px;
$inuit-font-size-h5:            20px;
$inuit-font-size-h6:            18px;


// Mixin(s) for heading styles

@mixin heading-shared {

  @if variable-exists(heading-font) {
    font-family: $heading-font, sans-serif;
  }

  @if variable-exists(heading-font-weight) {
    font-weight: $heading-font-weight;
  }
  
  letter-spacing: .025em;

}

@mixin heading-h1 {
  @include font-size($inuit-font-size-h1, 1.2);
  
  @include mq($from:tablet) {
    @include font-size($inuit-font-size-h1-tablet, 1.2);
  }

  @include mq($from:desktop) {
    @include font-size($inuit-font-size-h1-desktop, 1.2);
  }

}

@mixin heading-h2 {
  @include font-size($inuit-font-size-h2, 1.2);
}

@mixin heading-h3 {
  @include font-size($inuit-font-size-h3, 1.2);
}

@mixin heading-h4 {
  @include font-size($inuit-font-size-h4, 1.2);
}

@mixin heading-h5 {
  @include font-size($inuit-font-size-h5, 1.2);
}

@mixin heading-h6 {
  @include font-size($inuit-font-size-h6, 1.2);
}
