/* ==========================================================================
   #FLOATS
   ========================================================================== */

/**
 * Responsive tility classes for floats
 */

.u-float-right {
  float: right !important;
}

.u-float-left {
  float: left !important;
}

.u-float-none {
  float: none !important;
}





/**
 * If we’re using Sass-MQ, automatically generate float classes for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * .u-float-left@mobile
 */

@if (variable-exists(mq-breakpoints)) {

  @each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {

    @include mq($from: $inuit-bp-name) {

      .u-float-right#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
        float: right !important;
      }

      .u-float-left#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
        float: left !important;
      }

      .u-float-none {
        float: none !important;
      }

    }

  }

}
