/* ==========================================================================
   #FONT-ANONYMOUS-PRO-BOLD
   ========================================================================== */

// Settings
$font-path: '../fonts/' !default;


@font-face {
	font-family: 'Anonymous Pro';
	src: url('#{$font-path}anonymouspro-bold.eot');
	src: url('#{$font-path}anonymouspro-bold.eot?#iefix') format('embedded-opentype'),
	     url('#{$font-path}anonymouspro-bold.woff2') format('woff2'),
	     url('#{$font-path}anonymouspro-bold.woff') format('woff'),
	     url('#{$font-path}anonymouspro-bold.ttf') format('truetype'),
	     url('#{$font-path}anonymouspro-bold.svg#anonymouspro-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
