/* ==========================================================================
   #FONT-ANONYMOUS-PRO-REGULAR
   ========================================================================== */

// Settings
$font-path: '../fonts/' !default;


@font-face {
	font-family: 'Anonymous Pro';
	src: url('#{$font-path}anonymouspro-regular.eot');
	src: url('#{$font-path}anonymouspro-regular.eot?#iefix') format('embedded-opentype'),
	     url('#{$font-path}anonymouspro-regular.woff2') format('woff2'),
	     url('#{$font-path}anonymouspro-regular.woff') format('woff'),
	     url('#{$font-path}anonymouspro-regular.ttf') format('truetype'),
	     url('#{$font-path}anonymouspro-regular.svg#anonymouspro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
