/* ==========================================================================
   #FONT-MULI-SEMIBOLD
   ========================================================================== */

// Settings
$font-path: '../fonts/' !default;


@font-face {
    font-family: 'Muli';
    src: url('#{$font-path}muli-semibold.eot');
    src: url('#{$font-path}muli-semibold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}muli-semibold.woff2') format('woff2'),
         url('#{$font-path}muli-semibold.woff') format('woff'),
         url('#{$font-path}muli-semibold.ttf') format('truetype'),
         url('#{$font-path}muli-semibold.svg#mulisemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}