/* ==========================================================================
   #FONT-NEXA-LIGHT
   ========================================================================== */

// Settings
$font-path: '../fonts/' !default;


@font-face {
	font-family: 'Nexa';
	src: url('#{$font-path}nexa-light.eot');
	src: url('#{$font-path}nexa-light.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}nexa-light.woff2') format('woff2'),
		url('#{$font-path}nexa-light.woff') format('woff'),
		url('#{$font-path}nexa-light.ttf') format('truetype'),
		url('#{$font-path}nexa-light.svg#nexa-light') format('svg');
	font-weight: lighter;
	font-style: normal;
}
