footer.c-footer.js-footer
  .c-footer__content
    .o-wrapper
      .o-layout.o-layout--bottom
        .o-layout__item.u-12-12.u-9-12-at-tablet.u-margin-bottom.u-push-3-12-at-tablet
          h2.u-margin-bottom-tiny David B. Waters Designs <br/>
          h4.u-margin-bottom-tiny Made with 
            .c-icon.c-icon--small.u-text-pink-dark
              include ../images/icons/heart.svg
            | &nbsp;in Charleston
          small &copy; Copyright 2017. All rights reserved.
        .o-layout__item.u-12-12.u-3-12-at-tablet.u-pull-9-12-at-tablet
          .c-footer__brand
            include ../images/branding.svg