header.c-navbar.c-navbar--responsive.c-navbar--light.js-navbar
  a.c-navbar__brand
    include ../images/branding.svg
  .c-navbar__toggle
    button.c-burger.js-toggle(data-target='.js-navbar' data-wrapper='.js-page-wrapper')
      .c-burger__bars
  nav.c-navbar__nav.js-nav
    a.c-navbar__nav-item About
    a.c-navbar__nav-item Services
    a.c-navbar__nav-item Contact
