/* ======================================================
   #VIDEO-BG
   ====================================================== */

.c-video-bg {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-video-bg__video {
  height: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 56.25vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
}


