/* ======================================================
   #HEADER
   ====================================================== */

$header-max-width: $global-max-width;
$header-padding-y: $spacing-unit !default;
$header-padding-x: $spacing-unit !default;
$header-transition: $global-transition !default;

.c-header {
  cursor: pointer;
  display: block;
  font: inherit;
  margin: 0;
  padding:
    $header-padding-y $header-padding-x;
  text-align: center;
}

.c-header__inner {
  display: flex;
  margin: auto;
  max-width: $header-max-width;
}

.c-header__logo {
  height: 36px;
  width: auto;
}

.c-header__nav {
  margin-left: auto;
}