/* ======================================================
   #HERO
   ====================================================== */

.c-hero {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.c-hero__inner {
  max-width: 680px;
  text-align: center;
  width: 75%;
}


