/* ======================================================
   #HEADER
   ====================================================== */

$header-max-width: $global-max-width;
$header-padding-y: $spacing-unit !default;
$header-padding-x: $spacing-unit !default;
$header-transition: $global-transition !default;

.c-header {
  color: white;
  display: block;
  font: inherit;
  left: 0;
  margin: 0;
  padding:
    $header-padding-y $header-padding-x;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.c-header__inner {
  display: flex;
  margin: auto;
  max-width: $header-max-width;
}

.c-header__logo {
  height: 36px;
  width: auto;
}

.c-header__nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.c-header__link {
  align-items: center;
  color: inherit;
  display: inline-block;
}
