/* ======================================================
   #BUTTONS
   ====================================================== */

$button-padding-y: $spacing-unit-small !default;
$button-padding-x: $spacing-unit !default;
$button-transition: $global-transition !default;
$button-radius: $global-radius !default;

$button-small-padding-y: $spacing-unit-tiny !default;
$button-small-padding-x: $spacing-unit-small !default;

$button-large-padding-y: $spacing-unit !default;
$button-large-padding-x: $spacing-unit-large !default;

$button-ghost-border-width: 2px;

.c-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: 
    $button-padding-y 
    $button-padding-x;
  transition: $button-transition;
  border-radius: $button-radius;
}

/* Style variants
    ===================================================== */

.c-btn--primary {
  background-color: #4a8ec2;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    /* [4] */
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #3774a2;
  }
}

.c-btn--secondary {
  background-color: #2f4054;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #1d2733;
  }
}

.c-btn--tertiary {
  background-color: #fff;
  color: #4a8ec2;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #4a8ec2;
  }

  &:hover,
  &:focus {
    color: #3774a2;
  }
}

/* Size variants
    ===================================================== */

.c-btn--small {
  padding: $button-small-padding-y $button-small-padding-x;
}

.c-btn--large {
  padding: 
    $button-large-padding-y 
    $button-large-padding-x
}

/* Ghost buttons
    ===================================================== */

/**
  * Ghost buttons have see-through backgrounds and are 
  * bordered.
  */

.c-btn--ghost {
  border: $button-ghost-border-width solid currentColor;
  padding: 
    ($button-padding-y - $button-ghost-border-width) 
    ($button-padding-x - $button-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: 
      ($button-small-padding-y - $button-ghost-border-width) 
      ($button-small-padding-x - $button-ghost-border-width);
  }

  &.c-btn--large {
    padding: 
      (
        $button-large-padding-y - $button-ghost-border-width
      ) 
      (
        $button-large-padding-x - $button-ghost-border-width
      );
  }


  &.c-btn--primary {
    color: #4a8ec2;

    &:hover,
    &:focus {
      color: #3774a2;
    }
  }

  &.c-btn--secondary {
    color: #2f4054;

    &:hover,
    &:focus {
      color: #1d2733;
    }
  }

  &.c-btn--tertiary {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
