/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 95vh;
}

.c-hero__content {
  width: 100%;
}
