/* ==========================================================================
   #BG-TEXT
   ========================================================================== */


// Settings
$bg-text-size: 20vw;


.c-bg-text {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: $global-spacing-unit 0;
  
  &:before {
    position: absolute;
    z-index: 0;
    top: 55%;
    margin-top: -($bg-text-size/2);
    white-space: nowrap;
    font-family: $heading-font;
    font-size: $bg-text-size;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-shadow: 0 inuit-rem(5px) inuit-rem(20px) rgba(black, .075);
  }
}

.c-bg-text__content {
  position: relative;
  width: 100%;
}

.c-bg-text--about {
  &:before {
  content: 'Who I Am';
  }
}

.c-bg-text--services {
  &:before {
  content: 'What I Do';
  }
}
