/* ==========================================================================
   #TITLES
   ========================================================================== */

.c-title {
  position: relative;
  display: block;
  margin-bottom: inuit-rem($global-spacing-unit);
  font-family: inherit;
  font-style: italic;
  font-weight: bold;
  font-weight: lighter;
  @include font-size(13px);
  text-transform: uppercase;
  opacity: .4;
  opacity: .8;

  @include mq($from: desktop) {
    @include font-size(14px);
  }
}

.c-title__accent {
  display: block;
  height: $global-spacing-unit-small;
  line-height: $global-spacing-unit-small;

  &:after {
    content: '';
    display: inline-block;
    width: inuit-rem(36px);
    height: inuit-rem(1px);
    background: black;
    opacity: .3;
  }

}

