/* ==========================================================================
   #NAVBARS
   ========================================================================== */

// Settings
$navbar-brand-size-large: $global-spacing-unit * 1.25 !default;
$navbar-brand-size-small: $global-spacing-unit !default;
$navbar-toggle-height: 36px !default;
$navbar-font-size: 16px !default;
$navbar-oc-bg: rgba($color-purple-dark,.95) !default;
$navbar-oc-color: white !default;
$navbar-oc-font-size: 24px;
$navbar-oc-speed: 1s;
$navbar-z-index: 2 !default;
$navbar-include-responsive-version: true !default;
$navbar-include-oc-only-version: false !default;


.c-navbar {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: inuit-rem($global-spacing-unit);
  perspective: inuit-rem(900px);
  perspective-origin: 50% 500%;
  transition: 
    transform .5s, 
    background 1s,
    padding 1s,
    box-shadow 1s;

  @include mq( $from: tablet ) {
    padding: inuit-rem($global-spacing-unit-large);
  }

  
  a {
    color: inherit;
  }

  &.is-pinned {
    transform: translateY(0%);
  }

  &.is-unpinned {
    transform: translateY(-120%);
  }

  &.is-not-on-top {
    padding-top: inuit-rem($global-spacing-unit-small);
    padding-bottom: inuit-rem($global-spacing-unit-small);
    color: white;
    
    @include mq( $from: tablet ) {
      padding-top: inuit-rem($global-spacing-unit);
      padding-bottom: inuit-rem($global-spacing-unit);
    }

    .c-navbar__brand > * {
      height: inuit-rem(24px);
      transition: all $global-transition;
      filter: drop-shadow(0 inuit-rem(1px) inuit-rem(2px) rgba(black,.3));
    }

    .c-navbar__nav-item {
      transition: all $global-transition;
      text-shadow: 0 inuit-rem(1px) inuit-rem(2px) rgba(black,.5);
    }
  }

}



.c-navbar__brand {
  margin-right: inuit-rem($global-spacing-unit);

  > * {
    width: auto;
    height: inuit-rem($navbar-brand-size-small);
    transition: all $global-transition;
    vertical-align: middle;
  }

  > svg {
    fill: currentColor;
  }
  
  @include mq( $from: desktop ) {

    > * {
      height: inuit-rem($navbar-brand-size-large);
    }

  }
}

.c-navbar__nav-item {
  display: inline-block;
  margin-right:  inuit-rem($inuit-global-spacing-unit);
  font-family: $heading-font;
  @include inuit-font-size($navbar-font-size);
  letter-spacing: .05em;
  font-weight: bold;
  opacity: .95;
  
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }

  @include mq($from: desktop) {
    margin-right:  inuit-rem($inuit-global-spacing-unit-large);
  }

}

// A mixin for off-canvas styles is used to be able to nest styles in media
// queries

@mixin navbar-off-canvas {

  .c-navbar__brand,
  .c-navbar__toggle {
    position: relative;
    z-index: $navbar-z-index + 1;
    display: flex;
    align-items: center;
    transition: all $navbar-oc-speed;
  }
  
  .c-navbar__toggle {

    height: inuit-rem($navbar-toggle-height);
    margin-left: auto;
    border: none;
    background: transparent;
    
    &:focus {
      outline: none;
    }

  }
  
  .c-navbar__nav {
    position: fixed;
    top: 0%; 
    left: 100%;
    display: flex;
    z-index: $navbar-z-index;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    transform:  translateX(100%) translateY(-100%) scale(1);
    transition: all $navbar-oc-speed;
    //background-image: linear-gradient(
    //  0deg, rgba($color-purple,.5), rgba($color-purple,.5)
    //);
    background-color: rgba($navbar-oc-bg,.75);
    opacity: 0;
    clip-path: circle(20% at 50% 50%);
    box-shadow: 0 0 0 1000px rgba($navbar-oc-bg,.75);
  }
  
  .c-navbar__nav-item {
    margin-right: 0;
    padding-bottom: inuit-rem($inuit-global-spacing-unit);
    opacity: 1;

    @include inuit-font-size($navbar-oc-font-size);
  }
  
  &.is-active {
    

    transform: none;
    background-color: transparent;
    background-image: none;
    //@include box-shadow-primary-dark;

    .c-navbar__nav-item,
    .c-navbar__brand,
    .c-navbar__toggle {
      color: $navbar-oc-color;
    }

    .c-navbar__brand {
      fill: $navbar-oc-color;
    }
    
    .c-navbar__nav {
      /*transform: translateX(-100%) translateY(0) scale(1);
      opacity: 1;
      clip-path: circle(100% at 50% 50%);*/
      clip-path: circle(100% at 50% 50%);
    }

  }
  
}

@if $navbar-include-oc-only-version == true {

  .c-navbar--off-canvas {
    @include navbar-off-canvas;
  }

}

@if $navbar-include-responsive-version == true {

  .c-navbar--responsive {

    @include mq($until: tablet) {
      @include navbar-off-canvas;
    }

    @include mq($from: tablet) {

      .c-navbar__toggle {
        display: none;
        visibility: hidden;
      }

      .c-navbar__nav {
        opacity: 1 !important;
        transform: none !important;
        clip-path: none !important;
      }

    }

  }

}




// Variants
.c-navbar--center {
  justify-content: center;
}

.c-navbar--left {
  justify-content: flex-start;
}

.c-navbar--light {
  color: white;
}

.c-navbar--bg-filled {
      //box-shadow: 0 0 inuit-rem(20px) inuit-rem(0px) rgba(black,.5);
    @include box-shadow-primary-dark;
    //background: rgba(white, 1);
    background-color: rgba($color-purple-dark, .95);
    background-image: 
      linear-gradient(
        0deg,
        rgba($color-purple-dark,.25),
        rgba($color-pink,.25)
      );
}