/* ==========================================================================
   #ICONS
   ========================================================================== */

.c-icon {
  position: relative;
  top: -.05em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;

  * {
    display: block;
    width: 100% !important;
    height: 100% !important;
    fill: currentColor;
  }
}

.c-icon--small {
  width: 1.25em;
  height: 1.25em;
}

.c-icon--left {
  margin-right: inuit-rem($global-spacing-unit-small);
}
