/* ==========================================================================
   #FORMS
   ========================================================================== */

///*
//   Mixin for placeholders
//

@mixin placeholders {
  &::-webkit-input-placeholder {
     @content
  }

  &:-moz-placeholder { /* Firefox 18- */
     @content
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     @content
  }

  &:-ms-input-placeholder {  
     @content
  } 
}

@mixin autofill($bg-color,$text-color) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $text-color;
    -webkit-box-shadow: 0 0 0px 1000px $bg-color inset;
    transition: background-color 500000s ease-in-out 0s;
  }
}

@include autofill($color-purple,white);

/**
 * Forms
 */

.c-form__input-typed,
.c-form__textarea {
  display: block;
  margin-bottom: 
    inuit-rem($global-spacing-unit-large);
}

.c-form__input-typed,
.c-form__textarea {
  width: 100%;
  padding: 
    inuit-rem($global-spacing-unit-tiny)
    0;
  font-family: $accent-font;
  font-weight: lighter;
  @include inuit-font-size(16px);
  letter-spacing: .075em;
  color: inherit;
  border: none;
  box-shadow: 0 1px rgba(black,.3);
  background: transparent;
  transition: 
    background-color 5000s ease-in-out 0s, 
    box-shadow $global-transition;
  
  @include placeholders {
    color: rgba(black, .4);
  }
  
  &:focus {
    outline: none;
    box-shadow: 0 1px rgba(black, .6);
    
    @include placeholders {
      color: rgba(black, 0);
    }
  }
     
}

.c-form__textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 120px;
  min-height: inuit-rem(120px);
}

.c-form__label {
  display: block;
  font-family: $heading-font;
  font-weight: bold;
  @include inuit-font-size(11px, 1.5rem);
  letter-spacing: .15em;
  text-transform: uppercase;
  transition: all $global-transition;
  opacity: .95;
}

.c-form__bubble {
  &,
  &:before {
    transition: all $global-transition;
  }

  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: inuit-rem(-$global-spacing-unit-large + $global-spacing-unit-tiny);
  @include font-size(14px);
  font-family: $accent-font;
  text-align: right;
  letter-spacing: .05em;
  color: white;
  border-radius: 100rem;
  opacity: 0;

  &:before {
    content: '';
    position: absolute;
    top: inuit-rem(-$global-spacing-unit-tiny * 2);
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: inuit-rem($global-spacing-unit-tiny);
    transform-origin: bottom center;
    transform: translateY(-100%) scale(0);
  }

  &.is-active {
    opacity: 1;

    &:before {
      transform: translateY(-100%) scale(1);
      
    }
  }
}

.c-form__bubble--alert {
  &:before {
    background-image: url('../images/icons/alert.svg');
  }
}

.c-form__bubble--pass {
  &:before {
    background-image: url('../images/icons/check.svg');
  }
}



/* Style variants
   ========================================================================== */

.c-form--light {
  color: white;

  .c-form__input-typed,
  .c-form__textarea {
    box-shadow: 0 1px rgba(white, .2);
    
    @include placeholders {
      color: rgba(white, .4)
    }
    
    &:focus {

      box-shadow: 0 2px rgba(white, .6);

      @include placeholders {
        color: rgba(white, 0);
        transition: all $global-transition;
      }

    }

  }

}
