/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 
    inuit-rem($global-spacing-unit-small)
    inuit-rem($global-spacing-unit);
  font-family: $accent-font;
  font-weight: bold;
  letter-spacing: .0125em;
  @include inuit-font-size(16px);
  text-align: center;
  color: $color-royal-light;
  border: none;
  background: white;
  transition: 
    box-shadow .05s,
    background $global-transition,
    border-radius $global-transition,
    transform $global-transition;


  
  @include box-shadow-primary;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &:before {
    width: 100%;
    //background: white;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    transform: translateX(-120%)  skewX(-20deg);
    opacity: .1;
    transition: all .66s;
    background: currentColor;
  }

  &:hover {
    @include box-shadow-primary-dark;
    transform: scale(1.025);
    color: $color-royal-light;

    &:after {
      transform: translateX(1200%) skewX(-30deg);
      background: currentColor;
      opacity: .1;
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(.95);
  }

  &.is-alerted {
    color: black;
    background: $color-alert;
  }

  &.is-successful {
    color: white;
    text-shadow: 0 1px 1px rgba(black,.75);
    background: $color-success;
  }

}

.c-btn__icon {
  display: inline-block;
  margin-left: $global-spacing-unit-small;
  height: $global-line-height;
  vertical-align: top;

  > * {
    width: auto;
    height: 100%;
    fill: currentColor;
  }
}




/* Variants
   ====================================================================== */

.c-btn--large {
  @include font-size(18px, 1.4);
}

.c-btn--ghost {
  color: inherit;
  //text-shadow: 0 inuit-rem(1px) inuit-rem(4px) rgba(black, .4); 
  background: rgba(#666,.1);
  box-shadow:
    inset 0 0 0 inuit-rem(2px) currentColor,
    0px 2px 20px 0px rgba(black, 0.1);

  &:before {
    //background: transparent;
  }

  &:hover {
    color: inherit;
    box-shadow:
      inset 0 0 0 inuit-rem(2px) currentColor,
      0px 2px 20px 0px rgba(black, 0.2);
  }
}
