/* ==========================================================================
   #PAGE-WRAPPER
   ========================================================================== */

.c-page-wrapper {
  position: relative;
  z-index: 2;
  min-height: 100%;
  margin-bottom: $footer-height;
  transition: all 1s ease;
  //background-color: white;

  &.is-active {
    //position: fixed;
    min-height: 100%;
    opacity: 1;
    filter: blur(.25rem);
  }

}
