/* ==========================================================================
   #PAGE-LOAD-ANIMATIONS
   ========================================================================== */

.c-page-load-animations {
  transition: all 1.5s;
  filter: blur(1rem);

  &.is-active {
    filter: blur(0rem);
  }
}