/* ==========================================================================
   #IMG-FRAMES
   ========================================================================== */

$img-frame-frame-width: 20%;

@keyframes pulse {

  50% {
    transform: translateY(1%);
    box-shadow: 
      0 inuit-rem(2px) inuit-rem(80px) rgba($color-indigo-light, 0.1),
      0px inuit-rem(2px) inuit-rem(20px) rgba($color-indigo, 0.25);
  }
}


.c-img-frame {
  display: inline-block;
  padding: $img-frame-frame-width;
  transform: translateY(-1%);
  background: white;
  animation: 
    pulse 4s infinite;
  animation-timing-function: ease;

  box-shadow: 
    0 inuit-rem(2px) inuit-rem(80px) rgba($color-royal-light, 0),
    0 inuit-rem(2px) inuit-rem(20px) 0 rgba(black, 0.2);


  @include mq($until: tablet) {
    max-width: inuit-rem(400px);
  }
}

.c-img-frame__img {
  width: 100%;
}

.c-img-frame--round {
  border-radius: inuit-rem(2000px);
}

.c-img-frame--img-shadow {
  .c-img-frame__img {
    @include box-shadow-primary;
  }
}