/* ==========================================================================
   #ANCHORS
   ========================================================================== */

a {
  //font-weight: bold;
  text-decoration: none;

  @if variable-exists(anchor-color) {
    color: $anchor-color;
  }

  @if variable-exists(anchor-color-hover) {
    &:hover {
      color: $anchor-color-hover;
    }
  }
}
