/* ==========================================================================
   #PAGE-OVERRIDES
   ========================================================================== */

body, 
html {
  height: 100%;
}

html {
  position: relative;
  overflow: auto;
  //overflow-x: hidden;

  @if variable-exists('default-font') {
    font-family: $default-font, monospace;
  }

  @if variable-exists('bg-document') {
    background-color: $bg-document;
  }

}

body {
  @if variable-exists('bg-body') {
    background-color: $bg-body;
  }

  //perspective: inuit-rem(1200px);
  //perspective-origin:  50% 80%;
}
