///* ========================================================================
//   #PROJECT
//   ======================================================================== */

// Project settings and non-framework overrides.
$anchor-color: $color-royal-light;
$anchor-color-hover: $color-royal-dark;

// Document background
$bg-document: white;

