/* ==========================================================================
   #BOX-OVERRIDES
   ========================================================================== */

.o-box {
  padding: 
    inuit-rem($inuit-global-spacing-unit);
}





/* Size variants
   ========================================================================== */

.o-box--tiny {
  padding: 
    inuit-rem($inuit-global-spacing-unit-tiny);
}

.o-box--small {
  padding: 
    inuit-rem($inuit-global-spacing-unit-small);
}

.o-box--large {
  padding: 
    inuit-rem($inuit-global-spacing-unit-large);
}

.o-box--huge {
  padding: 
    inuit-rem($inuit-global-spacing-unit-huge);
}
