/* ======================================================
   #LINKS
   ====================================================== */

a {
  text-decoration: none;
  font-weight: 600;
  @if variable-exists(link-color) {
    color: $link-color;
  }

  @if variable-exists(link-color-hover) {
    &:hover {
      color: $link-color-hover;
    }
  }
};
