///* ====================================================
//   #COLORS
//   ==================================================== */

$pallette-red: #F20519;
$pallette-mint: #97CAC5;
$pallette-purple-bright: #7E57EE;
$pallette-purple-medium: #4D3B8C;
$pallette-purple-dark: #1B0946;


$status-color-alert: rgb(255, 70, 110);
$status-color-success: #44A629;

$link-color: $pallette-purple-dark;
$link-color-hover: $pallette-purple-medium;