///* ====================================================
//   #GLOBAL
//   ==================================================== */

// The global settings file contains any project-wide 
// variables; things that need to be made available to the 
// entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;
$global-max-width: 1080px;



// Font settings

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');
$global-font-family-primary: 'Spartan', sans-serif;
